<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<!--<div class="header pure-u-1">    
        <div class="pure-g">
        <div class="pure-u-1-6 tz-logo"></div>
        <div class="pure-u-5-6"></div>
    </div>
    </div>
    <div id="header">
        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Ministries</a></li>
            <li><a href="#">Events</a></li>
                <li><a href="#">About</a></li>
        </ul>
    </div>
</div>-->
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.baseurl }}/">CCI</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right" id="topnav">
              <li class="{% if page.title == 'home' %}active{% endif %}">
                <a href="{{ site.baseurl }}/">Home</a>
              </li>
              <li class="{% if page.title == 'about' %}active{% endif %}">
                <a href="{{ site.baseurl }}/about">About</a>
              </li>
              <li class="{% if page.title == 'ministry' %}active{% endif %}">
                <a href="{{ site.baseurl }}/ministry">Ministries</a>
              </li>
              <li class="{% if page.title == 'event' %}active{% endif %}">
                <a href="{{ site.baseurl }}/events">Events</a>
              </li>              
            </ul>
          </div>
        </div>
      </div>
    </div>